export PORT=3000
export LOGFORMAT="default"
export LOGCYCLE=86400000
export USERDIR="userdata"

export FLICKR_KEY="your API key goes here"
export FLICKR_SECRET="your API key secret goes here"
export FLICKR_USER_NAME="your screen name here"

export FLICKR_PERMISSIONS="delete"

