# Which port should this flickr mirror run on.
#
export PORT=3000

# This is the domain your flickrmirror runs on. If you run your
# mirror locally, you won't have to change this. However, if you
# run your mirror on the internet, change this to match your domain.
#
export PERSONA_HOST="http://localhost:3000"

# See the connect logger documentation for your options here.
#
export LOGFORMAT="default"

# Cycle interval for writing a new log file.
#
export LOGCYCLE=86400000

# The directory to use for user data, as opposed to Flickr's data.
#
export USERDIR="userdata"

# The "secret phrase" for the cookie that gets set in the browser
#
export SECRET="Oh my gosh this cookie is so secret... like, totally spy-level stuff!"
