{% extends "layout.html" %}
{% block body %}
  <link rel="stylesheet" href="/stylesheets/lightbox.css">
  <div class="content">
    <div class="photo">

      {% set file = photo.id + "." + photo.originalformat %}
      <h1>{{ photo.title._content }}</h1>
      <figure>
        <a href="/images/original/{{ file }}"><img src="/images/original/{{ file }}"></a>
        <figcaption>{{ photo.dates.taken }}</figcaption>
      </figure>

      {% if photo.location %}
      <section>
        <a href="https://maps.google.com/?ll={{ photo.location.latitude }},{{ photo.location.longitude }}">on the map</a>
      <section>
      {% endif %}

      <section>
        <p>{{ photo.description._content }}</p>
      </section>
      {% include "license.html" %}

    </div>
  </div>
{% endblock %}
