{% set pagetype = "collection" %}
{% extends "layout.html" %}

{% block body %}
<div class="collection">
  <header>
    <h1>{{ collection.title }}</h1>
    <a href="/{{ user }}/filmstrip/collection/{{ collection.id }}">view as film strip</a>
  </header>

  {% for set in collection.set  %}
  <div class="collection_set">
	  {% set photoset = photosets[set.id] %}
	  <a href="/{{ user }}/sets/{{ photoset.id }}"><img src="/{{ user }}/images/square/medium/{{ photoset.primary }}.jpg"></a>
	  <h4>{{ photoset.title._content }}</h4>
	  <p>{{ photoset.description._content | nlbr }}</p>
  </div>
  {% endfor %}
</div>
{% endblock %}