{% extends "layout.html" %}
{% block body %}
{% set file = photo.id + "." + photo.originalformat %}
  <div class="content">
    <div class="photo">
      <h1>{{ photo.title._content }}</h1>
      <figure>
        {% set large = photo.sizes.indexOf("b") %}
        <a href="/photos/{{ photo.id }}/lightbox"><img src="/images/{% if large == -1 %}medium{% else %}large{% endif %}/{{ photo.id }}.jpg"></a>
        <figcaption>{{ photo.dates.taken }}</figcaption>
      </figure>

      {% if photo.location %}
      <section>
        <a href="https://maps.google.com/?ll={{ photo.location.latitude }},{{ photo.location.longitude }}">on the map</a>
      <section>
      {% endif %}

      <section>
        <p>{{ photo.description._content }}</p>
      </section>
      {% include "license.html" %}
    </div>

    <div class="navs">
      {% set title = "photostream" %}
      {% set prev = photo.prev %}
      {% set next = photo.next %}
      {% include "streamnav.html" %}

      {% for setObj in photo.sets %}
        {% include "streamnav2.html" %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
