{% set pagetype = "filmstrip" %}
{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="/stylesheets/filmstrip.css">

{% set photo_keys = filmstrip %}
{% include "blocks/filmstrip.html" %}

<div class="gallery">

  <h1>{{ collection.title }}</h1>

  <div class="photos">
  {% for id in filmstrip.slice(start, end) %}
    {% set photo = photos[id] %}
    {% include "blocks/content/stream_photo.html" %}
  {% endfor %}
  </div>
</div>

<script src="/js/filmstrip.js"></script>

{% endblock %}