<div class="stream entry">
  <figure>
    <a href="/{{ user }}/photos/{{ photo.id }}"><img src="/{{ user }}/images/small/{{ photo.id }}.jpg"></a>
    <figcaption>{{ photo.dates.taken }}</figcaption>
    <h4>{{ photo.title._content }}</h4>
  </figure>

  <section class="links">
    {% if photo.location %}
    <a href="https://maps.google.com/?ll={{ photo.location.latitude }},{{ photo.location.longitude }}">on the map</a>
    -
    {% endif %}
    <a href="http://images.google.com/searchbyimage?image_url=http://{{ hostname }}/{{ user }}/images/medium/{{ photo.id }}.jpg">find on the web</a>
  </section>

  <section>
    <p>{{ photo.description._content }}</p>
  </section>
  {% include "license.html" %}
</div>
