{% block streamnav %}
      <div class="streamnav cursor navigate">
      	<p>« {{ title }} »</p>
      	<span class="prev">
      	  {% if prev %}<a class="left cursor" href="/{{ user }}/photos/{{ prev.id }}">
      	  	<img src="/images/square/small/{{ prev.id }}.jpg">
      	  </a>{% endif %}
      	</span>
        <span class="current"><img src="/images/square/small/{{ photo.id }}.jpg"></span>
      	<span class="next">
      	  {% if next %}<a class="right cursor"href="/{{ user }}/photos/{{ next.id }}">
      	  	<img src="/images/square/small/{{ next.id }}.jpg">
      	  </a>{% endif %}
      	</span>
      </div>
{% endblock %}
