<div class="stream entry">
  <figure>
    <a href="/{{ user }}/photos/{{ photo.id }}"><img src="/images/small/{{ photo.id }}.jpg"></a>
    <figcaption>{{ photo.dates.taken }}</figcaption>
    <h4>{{ photo.title._content }}</h4>
  </figure>

  {% if photo.location %}
  <section>
    <a href="https://maps.google.com/?ll={{ photo.location.latitude }},{{ photo.location.longitude }}">on the map</a>
  <section>
  {% endif %}

  <section>
    <p>{{ photo.description._content }}</p>
  </section>
  {% include "license.html" %}
</div>
