html, body, .header, .content {
  background: black
  color: white
}

.content {
  text-align: center
  img {
    max-width: 95%
  }
}

.header {
  border-bottom: 1px solid white
  margin-bottom: 2em
  color: #0063c8
  h1 {
    font-size: 300%
    line-height: 1em
    margin-bottom: -0.1em
    margin-left: 0.2em
    font-family: helvetica
  }
  .highlight {
    color: #ff0084
  }
  .plain {
    color: rgba(100,100,100,0.3)
  }
}

.footernotice {
  background: #222
  color: #999
}

a {
  color: #668
  text-decoration: none
}
