      {% if lastpage > 1 %}
      <ul class="pages">
        <li{% if page == 1 %} class="current"{% endif %}><a href="?page=1">1</a></li>
        {% for n in navpages %}
        {% if loop.first %}{% if n > 2 %}<li class="noborder">...</li>{% endif %}{% endif %}
        <li{% if n == page %} class="current"{% endif %}><a href="?page={{ n }}">{{ n }}</a></li>
        {% if loop.last %}{% if n < lastpage - 1 %}<li class="noborder">...</li>{% endif %}{% endif %}
        {% endfor %}
        <li{% if page == lastpage %} class="current"{% endif %}><a href="?page={{ lastpage }}">{{ lastpage }}</a></li>
      </ul>
      <script src="/js/pagelinking.js"></script>
      {% endif %}
